body {
  background: #20223f;
}

.chessBoard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  position: relative;
  margin: 50px auto;
}
.square {
  flex: 0 0 10%;
  color: white;
  font-weight: bold;
  position: relative;

  &.is-movePossible:after {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #3c407d !important;
    position: absolute;
    left: calc(50% - 14px);
    top: calc(50% - 14px);
    opacity: 0.4;
  }

  &.is-forbidden {
    visibility: hidden;
  }

  &.is-black {
    background: -moz-linear-gradient(
      -45deg,
      #987fbf 0%,
      #5caae8 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      #987fbf 0%,
      #5caae8 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      #987fbf 0%,
      #5caae8 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  &.is-white {
    background: -moz-linear-gradient(
      -45deg,
      #e8f5ff 5%,
      #d3edff 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      #e8f5ff 5%,
      #d3edff 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      #e8f5ff 5%,
      #d3edff 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

.piece {
  background-size: contain;
  width: 10%;
  height: 10%;
  padding: 30px 5px 0 5px;
  color: #fff;
  word-break: break-all;
  box-sizing: border-box;
  cursor: pointer;

  &.two {
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg)
      saturate(700%) contrast(0.8);
  }

  &.three {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg)
      saturate(1000%) contrast(0.8);
  }

  &.four {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
      saturate(600%) contrast(0.8);
  }

  &.pawn {
    background-image: url("./assets/pawn-white.svg");
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.rook {
    background-image: url("./assets/rook-white.svg");
  }

  &.knight {
    background-image: url("./assets/knight-white.svg");
  }

  &.bishop {
    background-image: url("./assets/bishop-white.svg");
  }

  &.queen {
    background-image: url("./assets/queen-white.svg");
  }

  &.king {
    background-image: url("./assets/king-white.svg");
  }
}

.checkmate-box {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: -180px;
  z-index: 20;
  top: 50%;
  padding: 10px;
  font-size: 30px;
  color: #fff;
}
